window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
    opacity 0.92
}

window-rule {
    match app-id="kitty"
    draw-border-with-background false
    opacity 0.88

    background-effect {
        blur true
        noise 0.05
        saturation 1.8
    }
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.5; }
}

layer-rule {
    match namespace="^waybar$"
    opacity 0.95
}

